node_modules
public/hot
public/storage
public/js/app.js
public/css/app.css
public/mix-manifest.json
public/js/app.js.LICENSE.txt
storage/*.key
vendor
logs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
we4v-worker.conf
